<form method="post" action="/clientes/incluir">
    Ingrese el nombre del cliente:
    <input type="text" name="nombre" size="50">

    <br>

    Ingrese el apellido del cliente:
    <input type="text" name="apellido" size="50">

    <br>

    Ingrese la fecha de nacimiento el cliente:
    <input type="date" name="FechaNac">

    <br>

    Ingrese el peso del cliente:
    <input type="float" name="peso">

    <br>

    Ingrese la altura del cliente:
    <input type="float" name="altura">

    <br>

    Ingrese la localidad del cliente:
    <input type="text" name="localidad">

    <br>

    Ingrese la calle donde vive del cliente:
    <input type="text" name="nombreCalleDomicilio" size="50">

    <br>

    Ingrese el numero de la calle donde vive del cliente:
    <input type="number" name="numeroCalleDomicilio">

    <br>

    Ingrese el numero de telefono del cliente:
    <input type="number" name="Movil01">

    <br>

    Ingrese otro numero de telefono del cliente:
    <input type="number" name="Movil02">

    <br>

    Ingrese el Email del cliente:
    <input type="text" name="email" size="50">

    <br>

    <input type="submit" value="Agregar">
</form>