<a href="/clientes/creartabla">Creacion de una tabla 'clientes' con MySQL.</a></p>
<a href="/clientes/incluir">Añadir un elemento a la tabla.</a></p>
<a href="/clientes/listado">Listado completo de clientes.</a></p>   
<a href="/clientes/SegListado">Listado de clientes con peso mayor a 90 y altura mayor a 1,78.</a></p>   
<a href="/clientes/TerListado">Listado de clientes con datos de localidad que no sean Mar del Plata e email que tengan gmail.</a></p>
<a href="/clientes/SegListado">Listado de clientes con peso mayor a 90 y altura mayor a 1,78.</a></p>   
<a href="/clientes/PromedioAltura">Promedio de la altura de los clientes.</a></p>   
<a href="/clientes/MaximoPeso">El cliente con mayor peso.</a></p>   
<a href="/clientes/MenorEdad">El cliente con menor edad.</a></p>   
<a href="/clientes/consulta">Consulta de un cliente por código.</a></p>
<a href="/clientes/modificacion">Modificacion de los datos de un cliente.</a></p>